html {
  scroll-behavior: smooth;
}
body{
    background-color: rgb(140, 237, 240);
    width: 100%;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
 

#nav{
    display: flex;
    background-color: rgb(187, 255, 187);
    border-radius: 20px;
    border: none;
    align-items: center;
    padding: 7px;
    z-index: 0;
    position: absolute;
    height: 15%;
    width: 98%;
}
#list{
    display: flex;
    justify-content: space-around;
    width: 60%;
    cursor: pointer;
}
#list a{
    color: rgb(252, 2, 227);
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
    display: flex;
    width: 125%;
    height: 120%;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;

}
#list li{
    list-style: none;
}
#list a:hover{
    background-color: rgb(221, 229, 147);
    
}
#logo{
    margin-left: 4%;
    height: 102.4px;
    width: 96.4px;
    border-radius: 50%;
    background-color: rgb(37, 34, 34);
    transition: all 0.5s;
    cursor: pointer;
}
#logo:hover{
    transform: scale(1.15);
}
#burger{
    margin-left: 22%;
    display: none;
    cursor: pointer;
}
#burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(252, 2, 227);
    margin: 3px;
    transition: all 0.3s ease;
}

#dpdown span{
    margin-left: 0.5vw;
    font-size: 90%;
    transition: transform 0.5s ease;
    transform: rotate(90deg);
}
#dpdown:hover {
    margin-top: 15vh;   
}

#dpdown:hover span{
    transform: rotate(-90deg);
}
#dpdown:hover #div_down{
    display: flex;
}

#div_down{
    display: none;
    z-index: 1;
    margin-left: -15%;
    margin-top: 40%;
    transition: transform 0.5s ease;
    
}


.relative {
    position: absolute;
    background: white;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 800px;
    margin-left: 35%;
    margin-top: 25vh;
    border: 3px solid #73AD21;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}
.heads{
    font-family: cursive;
    font-size: 25px;
}
.heads a{
    font-size: 25px;
}
.heads a:visited, .heads a:link{
    color: black;
}
.heads a:hover{
    text-decoration: underline;
}
.sun{
    margin-top: 20px;
    width: 390px;
    height: 50%;
    border-radius: 15px;
    cursor: pointer;
}
.bloc{
    display:none;
    position:absolute;
    background-color: blanchedalmond;
    font-family: cursive;
    width: 110%;
    color: red;
    font-size: 15px;
    padding: 3px;
    border: solid 2px black;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
    transform: translate(420px,-320px);
}

#close{
    position: absolute;
    top:-29px;
    right: -10px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: chartreuse;
    cursor: pointer;

}


.heads:hover #Pranav{
    display: block;
}

.des{
    font-family: cursive;
    font-size: 20;
}

.cont{
    font-family: cursive;
    font-size: 15;
    width: fit-content;
    text-align: left;
    position: absolute;
    bottom: 5px;
}

.whats{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url("WhatsApp.png");
    background-position: center;
    background-size: contain;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease-in-out;
}
.qr{
    position: absolute;
    bottom: 3px;
    left: 180px;
    height: 60px;
    width: 60px;
    background-image: url("qr.png");
    background-position: center;
    background-size: contain;
    transition: transform 1s ease-in-out;
}
.whats:hover{
    transform: scale(2);
}

.qr:hover{
    transform: scale(2.9);
}
.qr:hover + .whats{
    transform:scale(0.3);
}

#query{
    display: flex;
    position:absolute;
    top: 150%;
    margin-left: 2vw;
    border-radius: 30px;
    background-color: rgb(187, 255, 187);
    padding: 20px;
    padding-bottom: 0px;
    width:20%;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    color: rgb(252, 2, 227);
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}
#query p{
    font-weight: 1;
    font-size: 14px;
}

#form{
    display: flex;
    position: absolute;
    top:167%;
    margin-left: 2vw;
    font-size: 17px;
    font-family: cursive;
    transition: transform 0.5s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#form fieldset{
    width: 91vw;
}
#form fieldset input{
    margin: 10px;
    height: 25px;
}
#form fieldset button{
    height: 30px;
    width: auto;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5vw;
    cursor: pointer;
}
#form fieldset button:hover{
    background-color: khaki;
}
#form fieldset label{
    cursor: pointer;
}
#text{
    margin-top: 7px;
}
#confirm{
    height: 20px;
    width: 20px;
    cursor: pointer;
}




@media screen and (max-width: 1190px){

    #list{
        width: 90%;
    }
    #query{
        width: 35%;
    }
    .bloc{
        width:70%;
    }
}

@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    #nav{
        height: 20vh;
    }  
    #logo{
        margin-left: 40vw;
        height: 19vh;
        width: 18vh;
    }
    #burger{
        display: block;
        margin-left: 25%;
    }
    #list{
        position: absolute;
        height: 70vh;
        margin-top: 95vh;
        flex-direction: column;
        width: 90vw;
        align-items: center;
        display: none;
        transition: transform 0.5s ease-in-out;
    }
    #list a{
        width: 30vw;
    }
    .relative{
        margin-left: 5%;
    }
    #query{
        width: 40%;
        margin-top: 30%;
    }
    #form fieldset{
        margin-top: 30%;
        margin-left: -6%;
        transform: scaleX(0.92);
    }
    .bloc{
        width: 50%;
    }
    #dpdown:hover{
        margin-top: 0;
    }
    #div_down{
        margin-top: -10%;
        margin-left: 60%;
    }
    #dpdown:hover span{
        transform: rotate(0);
    }
    
}

@media screen and (max-width: 700px){
    .bloc{
        margin-left: -30%;
        margin-top: -30%;
    }
}
@media screen and (max-width: 670px){
    #form fieldset{
        margin-left: -12%;
        transform: scaleX(0.8);
    }

}
@media screen and (max-width: 560px){
    .bloc{
        margin-left: -50%;
    }
}
