body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


#wel_2{
    display: flex;
    position: fixed;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    margin: -8px;
    padding-top: 14%;
    font-size: 15vw;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 1.5s ease-in-out;
    z-index: 1;
}
#wel_1{
    font-size: 2vw;
    position: fixed;
    width: fit-content;
    bottom: 25%;
    left: 40%;
    height: fit-content;
    transition: all 1.5s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

#main{
    height: 100vh;
    width: 93vw;
    margin-top: 5vh;
    margin-left: 3vw;
}

#nav{
    display: flex;
    background-color: rgb(187, 255, 187);
    border-radius: 20px;
    border: none;
    align-items: center;
    padding: 7px;
    z-index: 0;
}
#list{
    display: flex;
    justify-content: space-around;
    width: 60%;
    cursor: pointer;
}
#list a{
    color: rgb(252, 2, 227);
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    width: 125%;
    height: 120%;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;

}
#list li{
    list-style: none;
}
#list a:hover{
    background-color: rgb(221, 229, 147);
    
}
#logo{
    margin-left: 4%;
    height: 102.4px;
    width: 96.4px;
    border-radius: 50%;
    background-color: rgb(37, 34, 34);
    transition: all 0.5s;
    cursor: pointer;
}
#logo:hover{
    transform: scale(1.15);
}
#burger{
    margin-left: 22%;
    display: none;
    cursor: pointer;
}
#burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(252, 2, 227);
    margin: 3px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1224px){
    body{
        background-size: 125%;
        background-repeat: repeat;
    }
    #wel_1{
        left:32%;
        font-size: 4vw;
    }
}

@media screen and (max-width: 1024px){
    body{
        background-size: 150%;
        background-repeat: repeat;
    }
    #wel_1{
        left:29%;
        font-size: 5vw;
    }
    #list{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow: hidden;
        background-size: 250%;
    }
    #main{
        display: none;
    }
    #wel_1{
        left:25%;
        font-size: 6vw;
    }
    #nav{
        height: 20vh;
    }  
    #logo{
        margin-left: 40vw;
        height: 19vh;
        width: 18vh;
    }
    #burger{
        display: block;
        margin-left: 25%;
    }
    #list{
        position: absolute;
        height: 70vh;
        margin-top: 95vh;
        flex-direction: column;
        width: 90vw;
        transform: translateX(300%);
        transition: transform 0.5s ease-in-out;
    }
    #list a{
        width: 90vw;
    }
    
}
